.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
}

@media (min-width: 768px) {
  .app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
    background-size: cover;
  }
}

.ipl-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dashboard-container {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.ipl-logo {
  height: 60px;

  margin-right: 10px;
}

.ipl-heading {
  font-size: 30px;
  font-weight: 700;
  font-family: Bree Serif;
  color: white;
  margin: 0px;
  padding: 0px;
}

.teams-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  list-style-type: none;
  padding-left: 0px;
}

@media (min-width: 768px) {
  .teams-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    list-style-type: none;
    padding-left: 0px;
  }
}
